

<form action="/api/users" method="post" id="add_user">
    <div class="container d-flex justify-content-center align-items-center ">
        <div class="row align-items-end">
            <div class="col-12 fw-bolder">
            <div class="col-12 text-center ">
                <label for="name">NAME</label>
              </div>
            <input type="text" name="name" placeholder="Name" class="rounded-pill border-0 mb-4" id="nameInput">

            <div class="col-12 text-center ">
                <label for="name">DEPARTMENT</label>
              </div>
            <input type="text" name="department" placeholder="Deparment" class="rounded-pill border-0 mb-4" id="departmentInput">

            <div class="col-12 text-center ">
                <label for="name">PHONE</label>
              </div>
            <input type="number" name="phone" placeholder="Phone" class="rounded-pill border-0 mb-4" id="phoneInput">
              
            <div class="col-12 text-center ">
                <button type="submit" class="btn btn-primary">ADD</button>
              </div>
          </div>
        </div>
      </div>
</form>
